* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.fof h1 {
  font-size: 4rem;
  padding-right: 1rem;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}

.ag-theme-balham .favorite-spot {
  background-color: yellow !important;
}
